/.DS_Store
/data/*
!/data/README.md
tricapic/src/main/java/com/example/demo/data_functions/.DS_Store
tricapic/src/main/java/com/example/demo/controller/.DS_Store
tricapic/src/main/java/com/.DS_Store
tricapic/src/main/java/.DS_Store
tricapic/src/.DS_Store
tricapic/src/main/java/com/example/.DS_Store
tricapic/src/main/.DS_Store
tricapic/src/main/java/com/example/demo/.DS_Store
tricapic/.DS_Store
